{% extends "::alk_base.html.twig" %}
  {% block master_title %}{% block title %}{% endblock %} | {% endblock %}

  {% block entete_navbar %}
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ path('ALKSiteBundle_homepage') }}"><img src="{{ asset('logo_nocorner_downsized_and_transparent.gif') }}" alt="ALK" />
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="{{ path('ALKSiteBundle_voirarticle', {'id': 3}) }}" class="btn">Les enseignants</a></li>
              <li><a href="{{ path('ALKSiteBundle_voirarticle', {'id': 6}) }}" class="btn">Lieux de pratique</a></li>
              <li><a href="{{ path('ALKSiteBundle_voirarticle', {'id': 5}) }}" class="btn">Notre filiation</a></li>
              <!--<li><a href="{{ path('ALKSiteBundle_voirarticle', {'id': 5}) }}" class="btn disabled">Notre filiation</a></li>-->
              <li class="dropdown"><a href="#stages" class="dropdown-toggle btn" data-toggle="dropdown">Stages <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Stage</a></li>
                    <li><a href="{{ path('ALKSiteBundle_voirarticle', {'id': 8}) }}">Stages d'initiation A</a></li>
                </ul>
              </li>
              <li class="search-form-for-the-navbar-perso"><form class="pull-right form-search"><input type="text" class="input-medium search-query pull-right " placeholder="Recherche"/></form></li>
            </ul>
          </div>
        </div> <!-- container-fluid -->
      </div> <!-- navbar-inner -->
    </div> <!-- navbar -->
    {% endblock %}



      {% block big_body %}
      <div class="container well">
        <div class="row-fluid">
          <div class="span8">
          {% block body %}
            {% block second_floating_headers %}
            {% endblock %}

            {% block little_body %}
            {% endblock %}
          {% endblock %}
          </div>

          {% block menu %}
          <div class="span4">
            <div class="inner-well sidebar-nav">
              <ul class="nav nav-list">
                <li class="nav-header">Liens</li>
                <li><a href="{{ path('ALKSiteBundle_voirarticle', {'id': 4}) }}">Kyudo à Montpellier</a></li>
                <li><a href="{{ path('ALKSiteBundle_voirarticle', {'id': 3}) }}">Les enseignants</a></li>
                <li><a href="{{ path('ALKSiteBundle_voirarticle', {'id': 6}) }}">Lieux de pratique</a></li>
                <li><a href="{{ path('ALKSiteBundle_voirarticle', {'id': 5}) }}">Notre filiation</a></li>
                <!--<li class="active"><a href="#">Listes des articles</a></li>-->

                <li class="nav-header">Catégories principales</li>
                <li><a href="{{ path('ALKSiteBundle_voirlesArticles', {'tag': "photos"}) }}">Photos</a></li>
                <li><a href="{{ path('ALKSiteBundle_voirlesArticles', {'tag': "stage"}) }}">Annonce de stage</a></li>
                <li><a href="{{ path('ALKSiteBundle_voirlesArticles', {'tag': "technique"}) }}">Technique du Kyudo</a></li>
                <!--<li><a href="#">Toutes les catégories</a></li>-->
              </ul>
            </div>
          </div> <!-- /span4 -->
          {% endblock %}
        </div><!-- /row-fluid -->
      </div><!--</container welm>-->
      {% endblock %}

            {% block footer %}
            <p><!--[if lte IE 8]><span style="filter: FlipH; -ms-filter: "FlipH"; display: inline-block;"><![endif]-->
    <span style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); display: inline-block;">
        &copy;
    </span>
    <!--[if lte IE 8]></span><![endif]--> Above and beyond 2012 <a class="pull-right" href="{{ path('ALK_adminAccueil') }}">Administration</a></p>
    {% endblock %}