<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ALK {% block master_title %}Association Languedocienne de Kyudo{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Twitter Bootstrap styles -->
    <link href="{{ asset('bootstrap/css/bootstrap.css') }}" rel="stylesheet">

    <!-- CSS for Smooth Div Scroll -->
	<link rel="Stylesheet" type="text/css" href="{{ asset('bootstrap/css/smoothDivScroll.css') }}" />

    	<!-- CSS for my specific scrolling content -->
<style type="text/css">
    #makeMeScrollable
    {
        width:100%;
        height: 330px;
        position: relative;
        text-align: center;
    }
    #makeMeScrollable div.scrollableArea *
    {
        position: relative;
        float: left;
        margin: 0;
        padding: 0;
        /* If you don't want the images in the scroller to be selectable, try the following
        block of code. It's just a nice feature that prevent the images from
        accidentally becoming selected/inverted when the user interacts with the scroller. */
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
</style>
{% block stylesheets %}{% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
  </head>

  <body>

    {% block entete_navbar %}
    {% endblock %}

    {% block entete_photo %}
    {% endblock %}

    {% block floating_header %}
    {% endblock %}

    {% block big_body %}
    {% endblock %}

      <hr>

      <div class="container-fluid">
        <footer>
      {% block footer %}
    {% endblock %}
        </footer>

      </div><!-- /container-fluid -->

    <!--javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ asset('bootstrap/js/jquery.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-transition.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-alert.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-modal.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-dropdown.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-scrollspy.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-tab.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-tooltip.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-popover.') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-button.') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-collapse.') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-carousel.') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-typeahead.') }}"></script>

    {% block javascript %}{% endblock %}


    	<!--<script src="bt/js/jquery-1.8.0.min.js" type="text/javascript"></script>-->
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>


    <!-- jQuery UI Widget and Effects Core (custom download)
		 You can make your own at: http://jqueryui.com/download -->
	<script src="{{ asset('bootstrap/js/jquery-ui-1.8.18.custom.min.js') }}" type="text/javascript"></script>

    	<!-- Latest version of jQuery Mouse Wheel by Brandon Aaron
		 You will find it here: http://brandonaaron.net/code/mousewheel/demos -->
	<script src="{{ asset('bootstrap/js/jquery.mousewheel.min.js') }}" type="text/javascript"></script>

	<!-- Smooth Div Scroll 1.2 minified-->
	<script src="{{ asset('bootstrap/js/jquery.smoothDivScroll-1.2.js') }}" type="text/javascript"></script>


<!--[if !IE 7]><! -->
	<script type="text/javascript">
		// Initialize the plugin with no custom options
		$(document).ready(function () {
			// I just set some of the options
			$("#makeMeScrollable").smoothDivScroll({
				mousewheelScrolling: false,
				manualContinuousScrolling: true,
				visibleHotSpotBackgrounds: "onstart",
				autoScrollingMode: "onstart",
				startAtElementId:"",
				hotSpotsVisibleTime: 3000,
			});
		});
	</script>
	<!--<![endif]-->

  </body>
</html>
