{% extends "ALKSiteBundle::layout.html.twig" %}

{% block title %}Article {{ article.titre }}{% endblock %}


{% block little_body %}

<h2>{{ article.titre }} <small>{{ article.date|date('d/m/Y') }} <br /> <small>{% for tag in article.tags %} <a href="#" ><i class="icon-tag"></i> {{ tag.name }}</a> {% endfor %}</small> </small></h2>
<p>{{ article.contenu }}</p>

{% endblock %}