{% extends "ALKSiteBundle::layout.html.twig" %}

{% block title %}Article {{ article.titre }}{% endblock %}


{% block little_body %}

<h2>{{ article.titre }} <span class=" pull-right">{{ article.date|date('d/m/Y') }}</span> <br /> <small>{% for tag in article.tags %} <a href="#" ><i class="icon-tag"></i> {{ tag.name|lower }}</a> {% endfor %}</small> </h2>
<img src="http://static1.minitokyo.net/view/23/10/593023.jpg" alt="http://static1.minitokyo.net/view/23/10/593023.jpg" class="img-circle" />

<p class="mesarticles" >{{ article.contenu }}</p>

{% endblock %}