{% extends "ALKSiteBundle::layout.html.twig" %}

{% block title %} Nouvel Article {% endblock %}

{% block little_body %}

<form action="" method="post" {{ form_enctype(form) }}>
    <span class="pull-right">
        {{ form_row(form.date) }}
    </span>

    {{ form_label(form.contenu, "Contenu de l'article") }}
    {{ form_errors(form.titre) }}
    {{ form_widget(form.titre) }}

{{ form_errors(form) }}
<p>
    {{ form_label(form.contenu, "Contenu de l'article") }}
    {{ form_errors(form.contenu) }}
    {{ form_widget(form.contenu) }}
</p>

    <p>
        <a href="#" id="add_tag">Ajouter un tag</a>
        <a href="#" ><i class="icon-tag"></i>tags : </a> {{ form_row(form.tags) }}
    </p>
{{ form_rest(form) }}

<input type="submit" value="Valider l'article"/>
</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('#alk_sitebundle_articletype_tags');

    // On définit une fonction qui va ajouter un champ.
    function add_tag() {
        // On définit le numéro du champ (en comptant le nombre de champs déjà ajoutés).
        index = $container.children().length;

        // On ajoute à la fin de la balise <div> le contenu de l'attribut « data-prototype »,
        // après avoir remplacé la variable $$name$$ qu'il contient par le numéro du champ.
        $container.append(
            $($container.attr('data-prototype').replace(/\$\$name\$\$/g, index))
        );
    }

    // On ajoute un premier champ directement s'il n'en existe pas déjà un.
    if($container.children().length == 0) {
        add_tag();
    }

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $('#add_tag').click(function() {
        add_tag();
    });
});
</script>

<script src="{{ asset('ckeditor/ckeditor.js') }}" type="text/javascript" ></script>
{% endblock %}