{% extends "ALKSiteBundle::layout.html.twig" %}

{% block master_title %}Association Languedocienne de Kyudo{% endblock %}

{% block entete_photo %}
<div class="container-perso">
  <div class="hero-unit-gallery">
    <div id="makeMeScrollable">
        <!--[if !IE 7]><!-->
		<img src="{{ asset('bootstrap/stiles/header14.jpg') }}" alt="Demo image" id="header14" />
		<img src="{{ asset('bootstrap/stiles/header8.jpg') }}" alt="Demo image" id="header8" />" />
		<img src="{{ asset('bootstrap/stiles/header13.jpg') }}" alt="Demo image" id="header13" />
		<img src="{{ asset('bootstrap/stiles/header15.jpg') }}" alt="Demo image" id="header15" />
		<img src="{{ asset('bootstrap/stiles/header12.jpg') }}" alt="Demo image" id="header12" />
		<img src="{{ asset('bootstrap/stiles/header11.jpg') }}" alt="Demo image" id="header11" /><!--<![endif]-->
		<img src="{{ asset('bootstrap/stiles/header7.jpg') }}" alt="Demo image" id="header7" />
 </div>
  </div>
</div>
{% endblock %}

{% block floating_header %}

<div class="container-fluid-extended">
  <div class="row-fluid">
    <div class="span4">
      {% for article in lastarticle() %}
      <h2>Dernière article le {{ article.date|date('d/m/y') }}</h2>
      <h3>
        <a href="{{ path('ALKSiteBundle_voirarticle', {'id': article.id}) }}">{{ article.titre }}</a>
      </h3>
      <blockquote>
        {{ article.contenu|shortify|raw }}
      </blockquote>
      <a class="btn show" href="{{ path('ALKSiteBundle_voirarticle', {'id': article.id}) }}">Lire &raquo;</a>
      {% endfor %}

    </div>
    <div class="span4">
      <h2>Dernière info FFKT</h2>
      <p>{{ fakearticle('salut les potos') }}</p>
      <p><a class="btn show" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Prochain stage</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn show" href="#">View details &raquo;</a></p>
    </div>
  </div>
</div>
{% endblock %}

{% block little_body %}
<h2>
    {{ article.titre }}
</h2>

{{ article.contenu|raw }}

{% endblock %}