{% extends "ALKSiteBundle::layout.html.twig" %}

{% block master_title %}Association Languedocienne de Kyudo{% endblock %}

{% block entete_photo %}
<div class="container-perso">
  <div class="hero-unit-gallery">
    <div id="makeMeScrollable">
        <!--[if !IE 7]><!-->
        <img src="{{ asset('bootstrap/stiles/header1.jpg') }}" alt="Demo image" id="header1" />
		<img src="{{ asset('bootstrap/stiles/header8.jpg') }}" alt="Demo image" id="header8" />
		<img src="{{ asset('bootstrap/stiles/header13.jpg') }}" alt="Demo image" id="header13" />
		<img src="{{ asset('bootstrap/stiles/header3.jpg') }}" alt="Demo image" id="header10" />
		<img src="{{ asset('bootstrap/stiles/header12.jpg') }}" alt="Demo image" id="header12" />
		<img src="{{ asset('bootstrap/stiles/header4.jpg') }}" alt="Demo image" id="header4" />
		<img src="{{ asset('bootstrap/stiles/header11.jpg') }}" alt="Demo image" id="header11" />
		<img src="{{ asset('bootstrap/stiles/header5.jpg') }}" alt="Demo image" id="header5" />
		<img src="{{ asset('bootstrap/stiles/header9.jpg') }}" alt="Demo image" id="header9" />
		<img src="{{ asset('bootstrap/stiles/header10.jpg') }}" alt="Demo image" id="header3" /><!--<![endif]-->
		<img src="{{ asset('bootstrap/stiles/header7.jpg') }}" alt="Demo image" id="header7" />
 </div>
  </div>
</div>
{% endblock %}

{% block floating_header %}
<div class="container-fluid-extended">
  <div class="row-fluid">
    <div class="span4">
      <h2>Dernière article</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Dernière info FFKT</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Prochain stage</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  </div>
</div>
{% endblock %}

            {% block little_body %}
            <h2>Bonjour, je suis un test <small>Les articles pourraient être introduits de cette manière</small></h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            {% endblock %}