<h2>
    {{ article.titre }}
    <a href="{{ path('ALKSiteBundle_voirarticle', {'id': article.id}) }}" rel="Permalink" >#</a>
    <span class=" pull-right">
        {{ article.date|date('d/m/Y') }}
    </span>
</h2>
<p>
    <small>
        {% for tag in article.tags %}
            <a href="{{ path('ALKSiteBundle_voirlesArticles', {'tag': tag.name}) }}" ><i class="icon-tag"></i> {{ tag.name|lower }}</a>
        {% endfor %}
    </small>
</p>
<img src="http://static1.minitokyo.net/view/23/10/593023.jpg" alt="http://static1.minitokyo.net/view/23/10/593023.jpg" class="img-circle" />

<p class="mesarticles" >{{ article.contenu|raw }}</p>