<h2>
    {{ article.titre }}
    <a href="{{ path('ALKSiteBundle_voirarticle', {'id': article.id}) }}" rel="Permalink" >#</a>
    <a href="{{ path('ALKSiteBundle_modifierArticle', {'id': article.id}) }}" rel="Modifier">Modifier</a>
    <span class="pull-right">
        <small>{{ article.date|date('d/m/Y') }}</small>
    </span>
</h2>
<p>
    <small>
        {% for tag in article.tags %}
            <a href="{{ path('ALKSiteBundle_voirlesArticles', {'tag': tag.name}) }}" ><i class="icon-tag"></i> {{ tag.name|lower }}</a>
        {% endfor %}
    </small>
</p>

<p class="mesarticles" >{{ article.contenu|raw }}</p>